*{
    background-color: peachpuff;
}
.card {
  background-color: aqua;
}
/*Desafío de selector de clase*/
.card1, .card2 {
    color: blue;
}

.eliminar {
    background: pink;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    background: black;
    color: azure;
}
ul > li {
    color: blue;
}

.container p{
    color: blueviolet;
}
